/* ==================== RESPONSIVIDADE ==================== */
@media (max-width: 1024px) {
  .login-container { width: 350px; padding: 35px; }
  form { grid-template-columns: 1fr; width: 90%; }
  .options { gap: 50px; }
}

@media (max-width: 768px) {
  .btn-voltar { top: 20px; right: 20px; font-size: 0.8rem; padding: 6px 14px; }
  .login-container { width: 300px; padding: 25px; }
  .option .icon { width: 120px; height: 120px; }
  .icon svg { width: 60px; height: 60px; }
  .sidebar { width: 150px; }
}

@media (max-width: 600px) {
  body, html { overflow-y: auto; }
  .login-container { width: 90%; padding: 25px 20px; }
  .options { flex-direction: column; gap: 40px; margin-top: 40px; }
  .logo-container img, .logo-main { width: 120px; }
  form { grid-template-columns: 1fr; width: 100%; }
  .menu-container { flex-direction: column; }
  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
  .sidebar a {
    margin: 10px 0;
    text-align: center;
    padding: 6px 10px;
  }
  .main img { width: 300px; }
}

@media (max-width: 400px) {
  .login-container h1 { font-size: 1.4rem; }
  .btn-login { font-size: 0.9rem; }
  .icon { width: 100px; height: 100px; }
  .icon svg { width: 50px; height: 50px; }
}